{% extends "base.html" %}

{% block title %}
<title>About</title>
{% endblock %}

{% block content %}
<br><br><br>
<div class="container mt-5">
    <div class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7">
            <h2 class="featurette-heading">It all started with Practice and now here we are. <span class="text-muted">This will blow your
                    mind.</span></h2>
            <p class="lead">The About Us page of your website is an essential source of information for all who want to
                know more about your business.
                About Us pages are where you showcase your history, what is unique about your work, your company’s
                values, and who you serve.
                The design, written content, and visual or video elements together tell an important story about who you
                are and why you do it.</p>
        </div>
        <div class="col-md-5">
            <img class="img-fluid" src="https://source.unsplash.com/400x400/?todolist,todolist,todolist" alt=""
                style="border-radius: 10px;">
        </div>
    </div>
</div>
{% endblock %}